<div class="menu">
  <img
    class="menu__logo"
    src="/assets/images/alelo-logo.png"
    alt="logo-alelo"
  />
  <h1>Alelo Frota</h1>
  <nav>
    <ul class="menu__list">
      <li>
        <a routerLink="/"
          ><img src="/assets/icons/border-all-solid.svg" alt="" /><span
            >Dashboard</span
          ></a
        >
      </li>
      <li>
        <a routerLink="/vehicle"
          ><img src="/assets/icons/car-side-solid.svg" alt="" /><span
            >Vehicle</span
          ></a
        >
      </li>
      <li>
        <a routerLink="/"
          ><img src="/assets/icons/chart-bar-solid.svg" alt="" />Reports</a
        >
      </li>
    </ul>
  </nav>
</div>
