<section class="vehicle">
  <h1>Vehicle Management</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe sint et
    tenetur commodi quia vel quisquam ut harum vitae nostrum? Fugit, sunt natus
    inventore aliquid non quaerat provident illum quo?
  </p>
  <div style="overflow-x: auto">
    <table class="vehicle__list table-round-corner">
      <thead>
        <tr>
          <th>Plate</th>
          <th>Model</th>
          <th>Manufacturer</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ABC-1234</td>
          <td>Class C 1.6 Avantgarde Turbo Flex</td>
          <td>Mercedes-BEnz</td>
          <td>Active</td>
          <td><button>EDIT</button> <button>REMOVE</button></td>
        </tr>
        <tr>
          <td>ABC-1234</td>
          <td>Class C 1.6 Avantgarde Turbo Flex</td>
          <td>Mercedes-BEnz</td>
          <td>Active</td>
          <td><button>EDIT</button> <button>REMOVE</button></td>
        </tr>
        <tr>
          <td>ABC-1234</td>
          <td>Class C 1.6 Avantgarde Turbo Flex</td>
          <td>Mercedes-BEnz</td>
          <td>Active</td>
          <td><button>EDIT</button> <button>REMOVE</button></td>
        </tr>
        <tr>
          <td>ABC-1234</td>
          <td>Class C 1.6 Avantgarde Turbo Flex</td>
          <td>Mercedes-BEnz</td>
          <td>Active</td>
          <td><button>EDIT</button> <button>REMOVE</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
